.listado-cartas {
  background-color: #f3f3f3;
}

.contenedor {
  max-width: 1200px;
  width: 100%;
  padding: 5rem 0;
  margin: 0 auto;
}

.bg-white {
  background-color: #fff;
}

@media (max-width: 1024px) {
  .contenedor {
    margin-left: 5rem;
    width: 90%;
  }

  aside {
    margin-right: 5rem;
  }
}

@media (max-width: 600px) {
  .listado-cartas .contenedor {
    display: flex;
    margin-left: 5px;
    width: 1300%;
  }

  .listado-cartas {
    background-color: #fff;
  }

  .contenedor {
    margin: 0 30px;
    width: 200%;
  }
}
